In [15]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [16]:
# Store csv created in part one into a DataFrame
#city_data_df = pd.read_csv("output_data/cities.csv")
city_data_df = pd.read_csv("../WeatherPy/output/weather_data.csv")

city_data_df.head()

,Unnamed: 0,City,Country,Latitude,longitude,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (MPH)
0,0,Arraial do Cabo,BR,-22.97,-42.03,77.00,88,90,8.05
1,1,Kondagaon,IN,19.60,81.67,66.47,63,0,5.48
2,2,Vardø,NO,70.37,31.11,33.80,80,90,27.51
3,3,Pevek,RU,69.70,170.31,18.73,95,94,7.29
4,4,Longyearbyen,SJ,78.22,15.64,24.80,68,90,8.05

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [17]:
print(city_data_df.count())
# Configure gmaps
gmaps.configure(api_key=g_key)

Unnamed: 0          831
City                831
Country             830
Latitude            831
longitude           831
Temperature (F)     831
Humidity (%)        831
Cloudiness (%)      831
Wind Speed (MPH)    831
dtype: int64

In [13]:
# Heatmap of humidity
locations = city_data_df[["Latitude", "longitude"]]
humidity = city_data_df["Humidity (%)"]
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [18]:
# Narrow down cities that fit criteria and drop any results with null values
narrowed_city_df = city_data_df.loc[(city_data_df["Temperature (F)"] < 80) & (city_data_df["Temperature (F)"] > 70) \
                                    & (city_data_df["Wind Speed (MPH)"] < 10) \
                                    & (city_data_df["Cloudiness (%)"] == 0)].dropna()
narrowed_city_df

,Unnamed: 0,City,Country,Latitude,longitude,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (MPH)
8,8,Nārāyanpet,IN,16.73,77.50,76.35,42,0,7.36
61,61,Abu Kamal,SY,34.45,40.92,77.52,37,0,1.10
456,456,Bhādāsar,IN,28.28,74.32,78.26,16,0,7.49
575,575,Nan,TH,18.83,100.67,73.40,83,0,2.24
696,696,Calvinia,ZA,-31.47,19.78,71.62,20,0,8.32
741,741,Methóni,GR,36.82,21.70,72.66,43,0,4.70

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [19]:
# Create DataFrame called hotel_df to store hotel names along with city, country and coordinates
hotel_df = narrowed_city_df[["City", "Country", "Latitude", "longitude"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

KeyError: "['Lat', 'Lng'] not in index"

In [7]:
# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}

# Iterate through 
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "Hotel" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
    # convert to json
    name_address = name_address.json()
    
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

hotel_df

Missing field/result... skipping.
Missing field/result... skipping.

          City Country    Lat    Lng                     Hotel Name
81       sakit      IN  27.45  78.82                   Laucky house
103     ormara      PK  25.21  64.64
215       tura      IN  25.52  90.22       Hotel RIKMAN Continental
274   chabahar      IR  25.29  60.64                    هتل گدروشیا
308  myitkyina      MM  25.38  97.40                Shwe Phyu Hotel
422     ghotki      PK  28.01  69.32              Mohalla Old Bazar
484      nalut      LY  30.33  10.85
544      sabha      LY  27.04  14.43  محطة ام الارانب -سبها مواصلات

In [8]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [9]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))